<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body style="border-radius: 10px; background: #FFF;font-family: Lato, 'Helvetica Neue', Arial, Helvetica,sans-serif; font-size: 14px; line-height: 1.33; color: rgba(0, 0, 0, 0.8);">
		<br /><h4 style="color: #000; opacity: 0.87; font-family: 'Arial'; font-weight: 400; text-transform: uppercase; text-align: center;"><%= title %></h4>
		<div>
			<% _.each(posts, function (post) { %>
				<div style="padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);">
					<a href="http://digests.me/details/<%= post.id %>" style="color: #000; opacity: 0.77; font-family: 'Arial'; padding-top: 15px; padding-bottom: 15px; font-size: 15px;" target="_blank"><%= post.title %></a>
				</div>
			<% }) %>
		</div>
	</body>
</html>