<%- partial("../partials/menu.ejs") %>

<div class="ui basic segment login page">
	<div class="row">
		<div class="col-md-4 col-sm-3"></div>
		<div class="col-md-4 col-sm-6 text center">
			
			<div id="loginPage">	
				<login-form></login-form>
			</div>
			<a href="/register" class="ui button blue">
				<%= __("Register") %>
			</a>
		</div>
			
		<div class="col-md-4 col-sm-3"></div>
	</div>
</div>
