<%- partial("../partials/menu.ejs") %>

<div class="ui basic segment page register">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<register-form></register-form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

<%- partial("../partials/footer.ejs") %>