<%- partial("../partials/menu.ejs") %>

<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecapthaApiLoaded&hl=<%= req.getLocale() %>" async defer></script>

<div class="ui basic segment page register">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<register-form></register-form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

<%- partial("../partials/footer.ejs") %>