<script>
window.sessionUsername = "<%= session.user.username %>";
window.username = "<%= user.username %>";
</script>

<div class="page settings">
	
	<div class="ui segment header text center">
		<%- partial("../partials/menu.ejs") %>
		
		<!-- Main UI header in settings page. -->
		<h3 class="ui header">
			{{ 'settings' | translate | uppercase }}
			<div class="ui horizontal divider">
				<i class="fa fa-gear icon"></i> 
			</div>
			<div class="sub header">
				{{ 'the settings page of the user' | translate | capitalize:'first'}}
			</div>
		</h3>

	</div>

	<div class="ui basic segment">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				
				<div class="ui segment content page">
					<personal></personal>
				</div>
				
				<div class="ui segment content page" style="margin-top: 1.5rem;">
					<div class="row">
						<upload-avatar class="col-md-6"></upload-avatar>
						<upload-header class="col-md-6"></upload-header>
					</div>
				</div>
				<div class="ui segment content page" style="margin-top: 1.5rem;">
					<change-password></change-password>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>