<!--noindex-->
<!--googleoff: all-->

<div id="topLoginSidebar" class="ui top sidebar segment">
	<div class="ui basic segment">
		<div class="row">
			<div class="col-md-4 hidden-xs"></div>
			<div class="col-md-4 text center">
				<login-form></login-form>
			</div>
			<div class="col-md-4 hidden-xs"></div>
		</div>
	</div>
</div>

<!-- googleon: all-->
<!--/noindex-->
