<!DOCTYPE html>
<html>
  <head>
    <title>403</title>
  </head>
  <body>
    <%- partial("partials/menu.ejs") %>
    <div class="error-page">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="title">403</h2>
          <h4><%= __("Access denied") %></h4>
          <% if (typeof error !== 'undefined') { %>
            <p class="message"><%= error %></p>
          <% } else { %>
            <p class="message"><%= __("You don't have permission to see the page you're trying to reach.") %></p>
          <% } %>
          <md-button href="/" class="md-fab">
            <i class="fa fa-home"></i>
          </md-button>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </body>
</html>