<!DOCTYPE html>
<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<html>
  <head>
    <title><%= __("Page not found") %></title>
  </head>
  <body>
    <div class="error-page">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="title">404</h2>
          <h4><%= __("Page not found") %></h4>
          <% if (typeof error !== 'undefined') { %>
            <p class="message"><%= error %></p>
          <% } else { %>
            <p class="message"><%= __("The page you were trying to reach doesn't exist.") %></p>
          <% } %>
          <div class="btn">
            <a href="/" class="ui basic button icon waves-effect waves-circle">
              <i class="icon ifc-home"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </body>
</html>