<div class="error-page">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="box">
      <h2 class="title"><i class="ifc-checkmark"></i></h2>
      <h4><%= __("Activation success") %></h4>
        <p class="message"><%= __("Your subscribe has been activate.") %></p>
      <div class="btn">
        <a href="/" class="ui basic button icon waves-effect waves-circle">
          <i class="icon ifc-home"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>