<form name="updatePersonalForm" novalidate>

	<div class="ui basic segment">
		<div class="ui header text center">
			{{ 'personal' | translate | capitalize:'all' }}
		</div>
		<div class="row">
			<div class="col-md-4">
        <md-input-container flex>
          <label>{{ 'firstname' | translate | capitalize:'all' }}</label>
          <input ng-model="PersonCtrl.Form.firstname" 
          	placeholder=""
          	required
          >
        </md-input-container>
			</div>
			<div class="col-md-4">
        <md-input-container flex>
          <label>{{ 'lastname' | translate | capitalize:'all' }}</label>
          <input ng-model="PersonCtrl.Form.lastname" 
          	placeholder=""
          	required
          >
        </md-input-container>
			</div>
			<div class="col-md-4">
				<md-input-container>
					<label>{{ 'email' | translate | capitalize:'all' }}</label>
					<input ng-model="PersonCtrl.Form.email" disabled>
				</md-input-container>
			</div>
		</div>
    <md-input-container flex>
      <label>{{ 'about me' | translate | capitalize:'first' }}</label>
      <textarea ng-model="PersonCtrl.Form.aboutMe" columns="1" md-maxlength="500" maxlength="500" required></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{ 'activities me' | translate | capitalize:'first' }}</label>
      <textarea ng-model="PersonCtrl.Form.activitiesMe" columns="1" md-maxlength="500" maxlength="500" required></textarea>
    </md-input-container>
		
		<div class="text center">
			<md-progress-circular ng-show="PersonCtrl.request" md-mode="indeterminate" md-diameter="35"></md-progress-circular>
			<md-button ng-hide="PersonCtrl.request" class="submit-button md-raised" ng-click="updatePersonalForm.$valid && PersonCtrl.update(PersonCtrl.Form)">
				{{ 'update' | translate | capitalize:'first' }}
			</md-button>
		</div>	
	</div>
</form>