<div class="ui header text center">
	{{ 'change password' | translate | capitalize:'first'}}
</div>
<form name="updatePasswordForm" novalidate>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4 col-sm-6">
			<md-input-container>
				<label><i class="lock icon"></i> {{ 'new password' | translate | capitalize:'all'}}</label>
				<input type="password" name="newpass" ng-model="newpass" required>
			</md-input-container>
		</div>
		<div class="col-md-4 col-sm-6">
			<md-input-container>
				<label><i class="lock icon"></i> {{ 'confirmation new password' | translate | capitalize:'all'}}</label>
				<input type="password" name="confirmation" ng-model="confirmation" ng-compare="newpass" required>
			</md-input-container>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="text center">
		<div layout="row" layout-align="center center" ng-show="process">
			<md-progress-circular md-mode="indeterminate" md-diameter="35"></md-progress-circular>
		</div>
		<p class="text center" ng-show="success" style="font-size: 11px; font-style: italic; color: #666;">{{ 'success!' | translate}}</p>
		<md-button class="submit-button" ng-click="updatePasswordForm.$valid && update()">
			{{ 'update' | translate}}
		</md-button>
	</div>
</form>