<form name="LoginForm" class="login form" novalidate>
	<h4 class="ui header">
		<!-- Login -->
		{{ 'login' | translate | capitalize:'all'}}
		<div class="sub header">
			<!-- Auth on Digests.me -->
			{{ 'Auth on Digests.me' | translate}}
		</div>
	</h4><br>

	<md-input-container>
		<label><i class="fa fa-user"></i> {{ 'username' | translate | capitalize:'all' }}</label>
		<input ng-model="LoginCtrl.formData.username" type="text" name="username">
	</md-input-container>

	<md-input-container>
		<label><i class="icon lock"></i> {{ 'password' | translate | capitalize:'all' }}</label>
		<input ng-model="LoginCtrl.formData.password" type="password" name="password">
	</md-input-container>

	<div ng-show="LoginCtrl.error" class="ui inverted red segment">
		{{LoginCtrl.error}}
	</div>

	<div ng-show="LoginCtrl.success" class="ui inverted green segment">
		{{LoginCtrl.success}}
	</div>

	<div class="text center">
		<md-button class="submit" ng-click="LoginForm.$valid && LoginCtrl.Auth(LoginCtrl.formData)" md-theme="cyan">
			{{ 'login' | translate | capitalize:'all'}}
		</md-button>
	</div>
</form>