<form ng-show="!successRegister" name="registerForm" class="register form" novalidate>
	<h4 class="ui header text center">
		{{ 'register' | translate | uppercase}}
	</h4>
	
	<md-input-container ng-class="{'md-input-invalid': isExistsUsername}">
		<label><i class="user icon"></i> {{ 'username' | translate | capitalize:'all'}}</label>
		<input ng-disabled="{{disableInputs}}" 
			ng-pattern="/^[a-zA-Z0-9_\-\?]+$/" 
			ng-model="username" 
			ng-model-onblur
			name="username" 
			type="text" 
			required 
		>
	</md-input-container>
	
	<md-input-container ng-class="{'md-input-invalid': isExistsEmail}">
		<label><i class="mail icon"></i> {{ 'email' | translate | capitalize:'all'}}</label>
		<input ng-disabled="{{disableInputs}}" type="email" ng-model="email" ng-model-onblur required>
	</md-input-container>
	
	<md-input-container>
		<label><i class="lock icon"></i> {{ 'password' | translate | capitalize:'all'}}</label>
		<input ng-disabled="{{disableInputs}}" name="password" type="password" ng-model="password" required minlength="7">
	</md-input-container>
	
	<md-input-container ng-show="password && registerForm.password.$valid">
		<label><i class="lock icon"></i> {{ 'confirmation password' | translate | capitalize:'all'}}</label>
		<input ng-disabled="{{disableInputs}}" name="confirm" type="password" ng-model="confirm" ng-compare="password" required minlength="7">
	</md-input-container>
	
	<md-input-container ng-show="username && password && confirm && email">
		<label><i class="user icon"></i> {{ 'firstname' | translate | capitalize:'all'}}</label>
		<input ng-disabled="{{disableInputs}}" type="text" ng-model="firstname" required>
	</md-input-container>
	
	<md-input-container ng-show="username && password && confirm && email">
		<label><i class="user icon"></i> {{ 'lastname' | translate | capitalize:'all'}}</label>
		<input ng-disabled="{{disableInputs}}" type="text" ng-model="lastname" required>
	</md-input-container>

	<div class="text center" ng-show="username && password && confirm && email && firstname && lastname">
		<div vc-recaptcha key="'6LddyQETAAAAAGJDlf6tUU3No3WVJaS84FMaJean'"></div>
	</div>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-switch class="md-primary" ng-init="agreeTerms = false" ng-model="agreeTerms" aria-label="Terms">
			{{ 'i agree with the rules of the portal' | translate | capitalize:'first'}}
		</md-switch>
	</div>

	<div class="ui inverted red segment" ng-show="registerForm.$invalid && allowShowErrors">
		<ul>
			<li ng-show="registerForm.username.$error.pattern">{{ 'the user name must be composed of latin characters without spaces' | translate | capitalize:'first'}}</li>
			<li ng-show="registerForm.confirm.$invalid">{{ 'the confirmation don`t match password' | translate | capitalize:'first'}}</li>
			<li ng-show="registerForm.$error.recaptcha">{{ 'captcha is required' | translate | capitalize:'first'}}</li>
			<li ng-show="isExistsUsername">{{ 'this username is already in use' | translate | capitalize:'first'}}</li>
			<li ng-show="isExistsEmail">{{ 'this email is already in use' | translate | capitalize:'first'}}</li>
		</ul>
	</div>

	<div class="text center">
		<md-button class="submit" ng-click="submit()">
			{{ 'register' | translate}}
		</md-button>					
	</div>
</form>

<div ng-show="successRegister" class="register form">
	<h4 class="ui header text center">
		{{ 'registration success!' | translate | uppercase}}
	</h4>
	<div class="text center ui segment basic">
		<img src="/images/icons/cat_gift.png" style="heigth: 80px; width: 80px;">
		<p>{{ 'on a specified mail sent to you with instructions on activating your account. Please activate your account to fully use all features of the portal.' | translate | capitalize:'first'}}</p>
		<br>
		<md-button href="/latest" class="md-warn">
			{{ 'continue' | translate}}
		</md-button>
	</div>
</div>