<%- partial("../partials/menu.ejs") %>

<div class="ui segment basic">
	<div class="row">
		<div class="col-md-4 col-sm-2"></div>
		<div class="col-md-4 col-sm-8">
			<recovery-form style="margin-top: 3.5rem; display: inline-block; width: 100%;"></recovery-form>
		</div>
		<div class="col-md-4 col-sm-2"></div>
	</div>
</div>