<div ng-repeat-start="post in ByUser.posts" ng-if="$first" class="ui segment post">
	<h4 class="ui header">
		{{ 'latest posts by this user' | translate | capitalize:'first'}}
	</h4>
	<div class="ui divider horizontal">
		<i class="fa fa-newspaper-o"></i>
	</div>
	<a ng-href="/details/post/{{post.numericId}}">{{post.title}}</a>
	<p>{{post.content}}</p>
	<md-button ng-href="/details/post/{{post.numericId}}" md-theme="cyan">
		<i class="fa fa-book"></i> {{ 'read' | translate }}
	</md-button>
</div>

<div ng-repeat-end ng-if="!$first" class="ui segment post">
	<a ng-href="/details/post/{{post.numericId}}">{{post.title}}</a>
	<p>{{post.content}}</p>
	<md-button ng-href="/details/post/{{post.numericId}}" md-theme="cyan">
		<i class="fa fa-book"></i> {{ 'read' | translate }}
	</md-button>
</div>

<div ng-show="ByUser.posts.length === 15" class="text center button-more">
	<md-button ng-href="/byauthor/{{username}}" md-theme="cyan">
		<i class="fa fa-plus"></i> {{ 'more' | translate}}
	</md-button>
</div>