@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500&subset=latin,cyrillic);
@import "utils";

img.not-loaded {
    display: none;
}

body {
	font-family: "Roboto";
	margin: 0; padding: 0;
	background: #EEEEEE;
}

blockquote {
  padding: 10px 20px;
  margin: 0px 0px 20px;
  font-size: 1.1rem;
  border-left: 4px solid #EEE;
}
/*code {
    padding: 2px 4px;
    font-size: 90%;
    color: #C7254E;
    background-color: #F9F2F4;
    border-radius: 4px;
}*/
table:last-child {
    margin-bottom: 0px;
}

table {
    font-size: 1em;
}

table {
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
    margin: 1em 0px;
    border: 1px solid #D0D0D0;
    box-shadow: none;
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.8);
    border-collapse: separate;
    border-spacing: 0px;
}

table thead tr:first-child > th:first-child {
    border-radius: 0.25rem 0px 0px;
}
table thead tr > th:first-child {
    border-left: medium none;
}
table thead th {
    cursor: auto;
    background: none repeat scroll 0% 0% #F0F0F0;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.7em 0.8em;
    vertical-align: middle;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid #D4D4D5;
    border-left: medium none;
}
table td, table th {
    transition: #DEDEDE 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
}

table tr:first-child td {
    border-top: medium none;
}
table tr td {
    border-top: 1px solid #D4D4D5;
}
table td {
    padding: 0.7em 0.8em;
    text-align: left;
    vertical-align: middle;
}
table td, .ui.table th {
    transition: #DEDEDE 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
}
td, th {
    padding: 0px;
}

// bootstrap grid
@import "grid";

// Semantic Import
@import "../stagging/semantic/semantic.min.css";
@import "semantic-theme";

// Import Custom
@import "login.register.less";
@import "error.page.less";
@import "nav-menu";
@import "modals";
@import "footer";
@import "items";
@import "details";
@import "addpost";
@import "settings";
@import "subscribes";
@import "habs";
@import "search";
@import "control";
