<div class="ui modal subscribe">
	<i class="close icon"></i>
	
	<div class="header">
		{{ 'subscribe to this source' | translate | capitalize:'first'}}
	</div>

	<div class="content">
		<div class="ui medium image">
			<img src="/images/icons/cat_cage.png">
		</div>
		
		<div class="description">
			<div class="ui header">{{ 'be aware of your interests' | translate | uppercase}}</div>
			
			<p>{{ 'If you want to receive regular newsletters with popular posts from this source (author, hub, etc), or add this source to a resource from which to create your personal tape - you can subscribe to the current resource. In the subscription, you can specify the language in which you want to receive the newsletter. Also using subscriptions you create your personal feed your interests. At any time you can unsubscribe in the profile settings.' | translate}}</p>
			
			<p ng-show="!auth" style="margin-top: 10px; color: #666; font-size: 14px;">
				<em>
					* {{ 'The opportunity is only available to authorized users. Please login or register.' | translate}}
				</em>
			</p>
			
			<p ng-show="auth" style="margin-top: 1rem; color: #666; font-size: 12px; font-style: italic;">
				{{ 'default language in subscribe:' | translate}} {{	getLocale(locale) | translate | capitalize:'all'}}
			</p>
	
			<div class="ui segment basic text center">
				<div class="ui dropdown">
					<div class="text"><i class="world icon"></i> {{ 'language' | translate | capitalize:'all'}}</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" ng-click="setLocale(code)" ng-repeat="code in ['ru', 'en', 'pl']">
							{{getLocale(code) | translate | capitalize:'all'}}
						</div>
					</div>
				</div>				
			</div>

			<div ng-show="subscribeSuccess" class="ui inverted green segment">
				{{ 'You have successfully subscribed to this source, to activate a broadcast email to activate your subscription. Your mail has been sent to you with instructions on how to activate. Note: even if the email sending is not activated and the subscription allows you to create your personal feed.' | translate}}
			</div>
	
			<div class="ui inverted red segment" ng-show="subscribeError">
				{{ subscribeError | translate}}
			</div>
							
		</div>
	</div>
	
	<div class="actions">
	
		<!-- Actions if user not auth -->
		<md-button ng-show="!auth" href="/register" class="md-warn">{{ 'register' | translate}}</md-button>
		<md-button ng-show="!auth" href="/login" style="color: #8BC34A;">{{ 'login' | translate}}</md-button>
	
		<!-- Action if user is auth -->
		<md-button ng-show="auth" ng-click="closeModal()">{{ 'no thanks' | translate}}</md-button>
		<md-button ng-show="auth" ng-click="follow()" class="md-primary">{{ 'subscribe' | translate}}</md-button>
	</div>

</div>