.page.settings {
	padding-bottom: 2rem;

	.ui.segment.header {
		.padding(40px, 2rem, 30px, 2rem);

		background: url("/images/backgrounds/settings.page.header.bg.jpg") no-repeat;
		background-size: cover;
		border-radius: 0;
		box-shadow: none;
		margin-top: 0;
		height: 230px;
		border: none;

		.ui.header {
			color: rgba(0, 0, 0, 0.9);
			font-weight: 500;
			.sub.header {
				color: rgba(0, 0, 0, 0.8);
				font-weight: 400;
			}
		}
	}

	.ui.vertical.menu {
		.material-shadow();
		border-radius: 0;
		.header.item {
			font-weight: 500 !important;
			background: #ecf0f1;
		}
	}


	.ui.segment.content.page {
		.material-shadow();
		margin-top: -70px;
		border-radius: 0;

		.ui.header {
			text-align: center !important;
		}

		.submit-button {
			background: #8BC34A !important;
			padding: 10px 12px;
			font-size: 14px;
			color: #FFF;
		}

	}
}